body {
}
section {
border: none;
margin: 0;
}
fieldset{padding:0;margin:0;border:0;}
a, a:hover {
    cursor: pointer;
}
a:hover, a:active {
outline: 0;
}
a:hover {
color: #005580;
text-decoration: underline;
}
button, input, select, textarea {
margin: 0;
font-size: 100%;
vertical-align: middle;
}
label,input,button,select,textarea{font-size:13px;font-weight:normal;line-height:18px;}
input,button,select,textarea{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;margin: 0;}
label{display:block;margin-bottom:5px;}
select,textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input{display:inline-block;height:18px;padding:4px 6px;margin-bottom:9px;font-size:13px;line-height:18px;color:#555555;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;vertical-align:middle;}
input,textarea,.uneditable-input{width:206px;}
textarea{height:auto;}
textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input{background-color:#ffffff;border:1px solid #cccccc;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-webkit-transition:border linear .2s, box-shadow linear .2s;-moz-transition:border linear .2s, box-shadow linear .2s;-o-transition:border linear .2s, box-shadow linear .2s;transition:border linear .2s, box-shadow linear .2s;}
textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus{border-color:rgba(82, 168, 236, 0.8);outline:0;outline:thin dotted \9;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);}
input[type="radio"],input[type="checkbox"]{margin:4px 0 0;*margin-top:0;margin-top:1px \9;line-height:normal;}
input[type="file"],input[type="image"],input[type="submit"],input[type="reset"],input[type="button"],input[type="radio"],input[type="checkbox"]{width:auto;}
select,input[type="file"]{height:28px;*margin-top:4px;line-height:28px;}
select{width:220px;border:1px solid #cccccc;background-color:#ffffff;}
select[multiple],select[size]{height:auto;}
select:focus,input[type="file"]:focus,input[type="radio"]:focus,input[type="checkbox"]:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
-webkit-appearance: button;
cursor: pointer;
}
input[type="button"], input[type="reset"], input[type="submit"]{
margin: 0;
font-size: 100%;
vertical-align: middle;
}
input, textarea, .uneditable-input {
margin-left: 0;
}
input:not([type]), input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"] {
padding: 1px 2px;
}
select, input[type="file"] {
height: 28px;
line-height: 28px;
}
table {
max-width: 100%;
background-color: transparent;
border-collapse: collapse;
border-spacing: 0;
}
ul, ol {
padding: 0;
margin: 0 0 9px 25px;
}

/*general css*/
.clearfix {
}
.clearfix:before, .clearfix:after {
display: table;
content: "";
line-height: 0;
}
.clearfix:after {
clear: both;
}
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
.clearfix:before, .clearfix:after {
display: table;
content: "";
line-height: 0;
}

.btn {
    display: inline-block;
    padding: 4px 12px !important;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #f5f5f5;
    /*background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);*/
  background-image:-moz-linear-gradient(top, #ffffff, #e6e6e6);/*FF*/
  background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#e6e6e6));/*webkit:Chrome, Safari*/
  background-image:-webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image:-o-linear-gradient(top, #ffffff, #e6e6e6);/*Opera*/
  background-image:linear-gradient(to bottom, #ffffff, #e6e6e6);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6',GradientType=0);/*ie*/
    background-repeat: repeat-x;
    border: 1px solid #bbbbbb;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    border-radius: 0;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}
.btn:hover{color:#333333;text-decoration:none;background-position:0 -15px;-webkit-transition:background-position 0.1s linear;-moz-transition:background-position 0.1s linear;-o-transition:background-position 0.1s linear;transition:background-position 0.1s linear;}
.btn:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn.disabled,.btn[disabled], .btn[class^='lock-']{cursor:default;background-image:none;opacity:0.65;filter:alpha(opacity=65);-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.btn.active, .btn:active {
background-color:#cccccc \9;
background-image: none;
outline: 0;
-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
color: #333333;
background-color: #e6e6e6;
}
.btn-primary{
    color:#fff !important;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-repeat: repeat-x;
    border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    background-color:#006dcc;
    /*background-image: linear-gradient(to bottom, #0088cc, #0044cc);*/
  background-image:-moz-linear-gradient(top, #0088cc, #0044cc);/*FF*/
  background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#0088cc), to(#0044cc));/*webkit:Chrome, Safari*/
  background-image:-webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image:-o-linear-gradient(top, #0088cc, #0044cc);/*Opera*/
  background-image:linear-gradient(to bottom, #0088cc, #0044cc);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc',GradientType=0);/*ie*/
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
color: #ffffff;
background-color: #0044cc;
}
.btn-danger {
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #da4f49;
background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
border-color: #bd362f #bd362f #802420;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled]{
    color: #fff;
    background-color: #bd362f;
}
.btn-icon{
    background-color:transparent;
    background-image:none;
    border:none;
    box-shadow:none;
    margin: 0px 0px 4px 0px !important;
    padding: 0px !important;
    width:24px;
    height:24px;
}

.btn-group {
position: relative;
display: inline-block;
font-size: 0;
vertical-align: middle;
white-space: nowrap;
}
.btn-group a{
    text-decoration: none;
    /*border: 1px solid #787878;*/
    /*border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);*/
}
.btn-group a.active{
    color: black;
    font-weight:bold;
    text-decoration: none;
}
.btn-group>.btn {
position: relative;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}
.btn-group>.btn, .btn-group>.dropdown-menu, .btn-group>.popover {
font-size: 13px;
}
.btn-group>.btn+.btn {
margin-left: -1px;
}
.btn-group>.btn:first-child {
margin-left: 0;
-webkit-border-top-left-radius: 4px;
-moz-border-radius-topleft: 4px;
border-top-left-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
-moz-border-radius-bottomleft: 4px;
border-bottom-left-radius: 4px;
}
.btn-group>.btn:last-child, .btn-group>.dropdown-toggle {
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topright: 4px;
border-top-right-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
-moz-border-radius-bottomright: 4px;
border-bottom-right-radius: 4px;
}
.btn-group>.btn:hover, .btn-group>.btn:focus, .btn-group>.btn:active, .btn-group>.btn.active {
/*z-index: 2;*/
}

.table {
width: 100%;
margin-bottom: 18px;
}
.table-bordered {
border: 1px solid #d5d5d5;
border-collapse: separate;
border-left: 0;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.table td, .table th{
    padding: 0 3px;
}
.table-bordered th, .table-bordered td{
    border-left: 1px solid #d5d5d5;
}
.table-bordered tbody tr:first-child td{
    border-top: 1px solid #d5d5d5;
}
.table-bordered thead tr:first-child th:first-child{
    border-top-left-radius: 4px;
}
.table-bordered thead tr:first-child th:last-child{
    border-top-right-radius: 4px;
}
.table-bordered tbody tr:last-child td:first-child{
    border-bottom-left-radius: 4px;
}
.table-bordered tbody tr:last-child td:last-child{
    border-bottom-right-radius: 4px;
}
.table-bordered th{
    text-align: center;
    vertical-align: bottom;
    background-color: #e5e5e5;
}
.table-bordered tbody tr td{
    background-color: #eaf3ff;
    cursor: default;
}
.table-bordered tbody tr:nth-of-type(2n+1) td{
    background-color: #fff;
}
.table-bordered tbody tr.selected td{
    background-color: #3879d9;
    color: #fff;
}

.label, .label-light {
    text-transform: uppercase;
    text-align:center;
    border-radius: 3px;
}
.label, .badge {
display: inline-block;
padding: 2px 4px;
font-size: 10.998px;
font-weight: bold;
line-height: 14px;
color: #ffffff;
vertical-align: baseline;
white-space: nowrap;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #999999;
}
.label-light{
display: inline-block !important;
padding: 2px 4px !important;
font-size: 10px !important;
font-weight: initial !important;
line-height: 14px !important;
vertical-align: baseline !important;
white-space: nowrap !important;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
    background-color: #f8f8f8 !important;
    color: #888 !important;
    cursor: default !important;
}

.split{
    display:inline-block;
    float:left;
    margin:0 5px;
    color:#ccc;
    line-height:28px;
    height:100%;
    font-size: medium;
}
.controls input[type="checkbox"] {
    margin-top: 8px;
    display: inline-block;
}





/* icon */
[class^="icon-"], [class*=" icon-"] {
display: inline-block;
width: 14px;
height: 14px;
line-height: 14px;
vertical-align: text-top;
background-image: url("../Images/glyphicons-halflings.png");
background-position: 14px 14px;
background-repeat: no-repeat;
margin-top: 1px;
}
.icon-info {
background-position: -120px -96px;
}
.icon-edit {
background-position: -96px -72px;
}
.icon-new {
/*background-position: -456px -96px;*/
background-position: -48px -120px;
}
.icon-remove-out {
background-position: -120px -72px;
}
.icon-favorite {
    background-color:#ddd;
    background-position: -141px 5px;
width: 20px;
height: 25px;
line-height: 25px;
margin-top:-4px;
}
.icon-favorite.saved {
    background-color:yellow;
    background-position: -117px 5px;
}


/*ui override*/
.ui-resizable {
position: relative;
}
.ui-resizable-e {
cursor: e-resize;
width: 7px;
right: -5px;
top: 0;
height: 100%;
}
.ui-resizable-s {
cursor: s-resize;
height: 7px;
width: 100%;
bottom: -5px;
left: 0;
}
.ui-resizable-se {
cursor: se-resize;
width: 12px;
height: 12px;
right: 1px;
bottom: 1px;
}
.ui-resizable-handle {
position: absolute;
font-size: 0.1px;
display: block;
}
.ui-icon {
display: block;
text-indent: -99999px;
overflow: hidden;
background-repeat: no-repeat;
width: 16px;
height: 16px;
}
.ui-icon, .ui-widget-content .ui-icon {
    background-image: url(../Images/ui-icons_222222_256x240.png);
}

.ui-icon-gripsmall-diagonal-se {
background-position: -64px -224px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
-moz-border-radius-bottomright: 4px;
-webkit-border-bottom-right-radius: 4px;
-khtml-border-bottom-right-radius: 4px;
border-bottom-right-radius: 4px;
-moz-border-radius-bottomleft: 4px;
-webkit-border-bottom-left-radius: 4px;
-khtml-border-bottom-left-radius: 4px;
border-bottom-left-radius: 4px;
-moz-border-radius-topright: 4px;
-webkit-border-top-right-radius: 4px;
-khtml-border-top-right-radius: 4px;
border-top-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-webkit-border-top-left-radius: 4px;
-khtml-border-top-left-radius: 4px;
border-top-left-radius: 4px;
}
.ui-autocomplete{
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 300 !important;
}
.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .2em 0 .2em;
    font-size: 12px;
}
.ui-menu {
list-style: none;
padding: 2px;
margin: 0;
display: block;
outline: none;
}
.ui-menu-item {
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
}
.ui-menu .ui-menu-item {
margin: 0;
padding: 0;
zoom: 1;
width: 100%;
}
.ui-menu .ui-menu-item a {
text-decoration: none;
display: block;
padding: 2px .4em;
line-height: 1.5;
zoom: 1;
font-weight: normal;
border:none;
}
.ui-menu .ui-menu-item a:hover, .ui-menu .ui-menu-item a.hover {
text-decoration: none;
color: #ffffff;
background-color: #0081c2; /*#3879d9;*/
}
.ui-menu .ui-menu-item a.ui-state-focus, .ui-menu .ui-menu-item a.ui-state-active {
    font-weight: normal;
    margin: -1px 0 1px -1px;
}
.ui-widget-content {
	border: none;
	background-color: #ffffff;
	/*color: #222222;*/
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: none;
	background: #0081c2 50% 50% repeat-x;
	font-weight: normal;
	color: #ffffff;
    margin:0px;
}
.ui-widget {
font-family: Helvetica,Arial,sans-serif;
font-size: 1.1em;
}
.ui-widget-content {
/*border: 1px solid #ddd;*/
/*background: #eee url(../images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x;*/
color: #333;
}




#main {
    background-color: #fff;
    float: left;
    /*padding-bottom: 20px;
    margin-left: 350px;*/
    /*min-height: 100%;*/
    width:100%;
}


.clean-input {
    color: #333 !important;
    padding: 5px !important;
    border: none !important;
    border-bottom: solid thin #ccc !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    outline: none !important;
}
.clean-input:focus {
    outline: 0 !important;
    outline-width: 0 !important;
    border-bottom-color: #999 !important;
}

.inputText {
    border: 2px solid #cce0e9;
    min-height: 18px;
    width: 100%;
    padding: 5px;
}
.input-text-light{
    border-radius: 0;
min-height: 18px;
width: 100% !important;
padding: 5px;
padding-left: 0px;
color: #333 !important;
border: none !important;
border-bottom: solid thin #ccc !important;
box-shadow: none !important;
border-radius: 0 !important;
outline: none !important;
}
.input-text-light:focus {
    border-bottom-color: #999 !important;
    outline: none !important;
    box-shadow: none !important;
}


/* dropdown-menu */
.caret {
display: inline-block;
width: 0;
height: 0;
vertical-align: top;
border-top: 4px solid #000000;
border-right: 4px solid transparent;
border-left: 4px solid transparent;
content: "";
}
.dropup, .dropdown {
position: relative;
}
.dropdown .caret {
margin-top: 8px;
margin-left: 2px;
}
.dropdown-menu {
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
float: left;
min-width: 160px;
padding: 5px 0;
margin: 2px 0 0;
list-style: none;
background-color: #ffffff;
border: 1px solid #ccc;
border: 1px solid rgba(0, 0, 0, 0.2);
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
}
.dropdown-menu li>a {
display: block;
padding: 3px 20px;
clear: both;
font-weight: normal;
line-height: 18px;
color: #333333;
white-space: nowrap;
border: none;
}
.dropdown-menu li>a:hover, .dropdown-menu li>a.hover, .dropdown-menu li>a:focus, .dropdown-menu li>a.focus, .dropdown-submenu:hover>a {
text-decoration: none;
color: #ffffff;
background-color: #0081c2;
background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
background-image: -o-linear-gradient(top, #0088cc, #0077b3);
background-image: linear-gradient(to bottom, #0088cc, #0077b3);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
background-repeat: repeat-x;
}
.dropdown-menu hr{
    border: none;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    margin: 3px 0;
}
