body {
}
.pull-right{float:right !important;}
.push-left{float:left !important;}
.no-padding{padding:0px !important;}
.no-margin{margin:0px !important;}
.w100{width:100% !important;}
.w000{width:auto !important;}
.highlight{font-weight:bold; color:#0060bf;}
.modal-body{max-height: 320px;}

/*.top-info-container{
    display:block;
    margin:5px 10px;
}*/
.test-item-container{
    display:block;
    margin:5px 10px;
}
.select-container{
    float:left;
    display:inline-block;
    margin: 0 2px;
    width: 15px;
}


.select-all-panel{
    width:130px;
    vertical-align:top;
    padding:5px 3px;
    float: left;
}
.select-all-panel.ind{
    margin-left:30px;
}
.select-all-panel input[type="checkbox"]{
    margin: -3px 5px 0px;
}
/*.select-all-panel span.label{ cursor: default; }*/
.select-partial-panel{
    /*width:100%;
    display: inline-block;*/
    margin-left:130px;
    padding:5px;
}
.select-partial-panel ul li{
    list-style:none;
    list-style-image:none;
    width:130px;
    float:left;
}
.select-partial-panel ul li input[type="checkbox"]{
    margin: -1px 5px 2px;
}
.select-partial-panel ul li span{
    cursor:default;
    font-size: 8pt;
}
.select-partial-panel ul li.ip-block span{
    font-weight:bolder;
}
@keyframes bganim {from { transform:rotate(0deg); } to { transform:rotate(360deg); }}
@-moz-keyframes bganim {from { -moz-transform:rotate(0deg); } to { -moz-transform:rotate(360deg); }}
@-webkit-keyframes bganim {from { -webkit-transform:rotate(0deg); } to { -webkit-transform:rotate(360deg); }}
.select-partial-panel ul li i[data-name='test-status']{
    background-image: url("../Images/runicons-halflings.png");
    width: 14px;
    height: 14px;
    display:inline-block;
    margin-bottom: -2px;
}
.select-partial-panel ul li i[data-name='test-status'].init { background-image:none }
.select-partial-panel ul li i[data-name='test-status'].running { background-position: 0px 0px; }
.select-partial-panel ul li i[data-name='test-status'].running {
    animation: bganim 0.7s linear 0s infinite;
    -moz-animation: bganim 0.7s linear 0s infinite;
    -webkit-animation: bganim 0.7s linear 0s infinite;
}
.select-partial-panel ul li i[data-name='test-status'].success { background-position: -72px 0px; }
.select-partial-panel ul li i[data-name='test-status'].failed { background-position: -96px 0px; }
.select-partial-panel ul li i[data-name='test-status'].timeout { background-position: -24px 0px; }
.select-partial-panel ul li i[data-name='test-status'].exception { background-position: -48px 0px; }
@-moz-keyframes breathe {
    0% { opacity: 1; box-shadow:0 1px 2px rgba(255,255,255,0.1);}
    50% { opacity: .8; border:1px solid rgba(59,235,235,1); box-shadow:0 1px 5px rgba(59,255,255,1);}
    100% { opacity: 1; box-shadow:0 1px 2px rgba(255,255,255,0.1);}
}
@-moz-keyframes breathe {
    0% { opacity: 1; box-shadow:0 1px 2px rgba(255,255,255,0.1);}
    50% { opacity: .8; border:1px solid rgba(59,235,235,1); box-shadow:0 1px 5px rgba(59,255,255,1);}
    100% { opacity: 1; box-shadow:0 1px 2px rgba(255,255,255,0.1);}
}
@-webkit-keyframes breathe {
    0% { opacity: 1; box-shadow:0 1px 2px rgba(255,255,255,0.1);}
    50% { opacity: .8; border:1px solid rgba(59,235,235,1); box-shadow:0 1px 5px rgba(59,255,255,1);}
    100% { opacity: 1; box-shadow:0 1px 2px rgba(255,255,255,0.1);}
}
.test-panel-container.running, .test-item-container .btn[data-name='run-test'].running, .top-info-container .btn[data-name='run-test'].running, .tab-info-line .btn[data-name='run-test'].running { 
    animation: breathe 1s ease-in-out 0s infinite;
    -moz-animation: breathe 1s ease-in-out 0s infinite;
    -webkit-animation: breathe 1s ease-in-out 0s infinite;
    /*border-color:orange;*/ 
}
@-moz-keyframes breathe2 {
    0% { opacity: 1; box-shadow:1px 3px 4px rgba(255,255,255,0.1);}
    50% { opacity: .8; border:4px solid rgba(59,235,235,1); box-shadow:1px 3px 6px rgba(59,255,255,1);}
    100% { opacity: 1; box-shadow:1px 3px 4px rgba(255,255,255,0.1);}
}
@-moz-keyframes breathe2 {
    0% { opacity: 1; box-shadow:1px 3px 4px rgba(255,255,255,0.1);}
    50% { opacity: .8; border:4px solid rgba(59,235,235,1); box-shadow:1px 3px 6px rgba(59,255,255,1);}
    100% { opacity: 1; box-shadow:1px 3px 4px rgba(255,255,255,0.1);}
}
@-webkit-keyframes breathe2 {
    0% { opacity: 1; box-shadow:1px 3px 4px rgba(255,255,255,0.1);}
    50% { opacity: .8; border:4px solid rgba(59,235,235,1); box-shadow:1px 3px 6px rgba(59,255,255,1);}
    100% { opacity: 1; box-shadow:1px 3px 4px rgba(255,255,255,0.1);}
}
.test-panel-container.running{
    animation: breathe2 1s ease-in-out 0s infinite;
    -moz-animation: breathe2 1s ease-in-out 0s infinite;
    -webkit-animation: breathe2 1s ease-in-out 0s infinite;
}
@-moz-keyframes breathe3 {
    0% { opacity: 1; box-shadow:0 0 2px rgba(255,255,255,0.1);}
    50% { opacity: .8; border:4px solid rgba(59,235,235,1); box-shadow:0 0 2px rgba(59,255,255,1);}
    100% { opacity: 1; box-shadow:0 0 2px rgba(255,255,255,0.1);}
}
@-moz-keyframes breathe3 {
    0% { opacity: 1; box-shadow:0 0 2px rgba(255,255,255,0.1);}
    50% { opacity: .8; border:4px solid rgba(59,235,235,1); box-shadow:0 0 2px rgba(59,255,255,1);}
    100% { opacity: 1; box-shadow:0 0 2px rgba(255,255,255,0.1);}
}
@-webkit-keyframes breathe3 {
    0% { opacity: 1; box-shadow:0 0 2px rgba(255,255,255,0.1);}
    50% { opacity: .8; border:4px solid rgba(59,235,235,1); box-shadow:0 0 2px rgba(59,255,255,1);}
    100% { opacity: 1; box-shadow:0 0 2px rgba(255,255,255,0.1);}
}
.actions-container .test-result div.running{
    animation: breathe3 1s ease-in-out 0s infinite;
    -moz-animation: breathe3 1s ease-in-out 0s infinite;
    -webkit-animation: breathe3 1s ease-in-out 0s infinite;
}
/*div#test-report-detail{
    display: block;
    overflow-y: auto;
    max-height: 200px;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
}
div#test-report-detail ul{
    margin: 0px 0px 0px 25px;
}*/
.test-status.success, .test-status.success span{ color:#090; }
.test-status.abort, .test-status.abort span, 
.test-status.warning, .test-status.warning span{ color:orange; }
.test-status.failed, .test-status.failed span, 
.test-status.exception, .test-status.exception span, 
.test-status.timeout, .test-status.timeout span{ color:#FD4239; }

.test-item-container .btn[data-name='run-test'].success, #run-test.success, .test-result div.success{ border-color:#090 !important; }
.test-item-container .btn[data-name='run-test'].abort, #run-test.abort, .test-result div.abort{ border-color:orange !important; }
.test-item-container .btn[data-name='run-test'].failed, #run-test.failed, .test-result div.failed, 
.test-item-container .btn[data-name='run-test'].exception, #run-test.exception, .test-result div.exception, 
.test-item-container .btn[data-name='run-test'].timeout, #run-test.timeout, .test-result div.timeout
{
    border-color:#FD4239 !important;
}
.test-panel-container.success { border-color:rgba(0,153,0,.4) !important; }
.test-panel-container.abort { border-color:rgba(254,164,0,.4) !important; }
.test-panel-container.failed, .test-panel-container.exception, .test-panel-container.timeout { border-color:rgba(253,66,57,.4) !important; }

.test-panel-container i.success { background-color:rgba(0,153,0,.4) !important; }
.test-panel-container i.abort, .test-panel-container i.warning { background-color:rgba(254,164,0,.4) !important; }
.test-panel-container i.failed, .test-panel-container i.exception, .test-panel-container i.timeout { background-color:rgba(253,66,57,.4) !important; }
.test-panel-container i.master.success { background-color:rgba(0,153,0,.6) !important; }
.test-panel-container i.master.abort, .test-panel-container i.master.warning { background-color:rgba(254,164,0,.6) !important; }
.test-panel-container i.master.failed, .test-panel-container i.master.exception, .test-panel-container i.master.timeout { background-color:rgba(253,66,57,.6) !important; }


.info-line{
    /*margin-left:-15px;*/
    padding:5px;
    margin-bottom:5px;
}
.info-container{
    /*float:left;*/
    margin-right: 150px;
}
.info-container .label-data{
    float:left;
    display:inline-block;
    line-height:25px;
    margin-top: 8px;
    margin-left:30px;
}
.info-line .label-data .data{
    font-size: 12px;
    font-weight:bold;
    padding-left:10px;
}
.info-container .select-partial-panel{
    float:left;
    margin-left:0px;
    width: auto;
}
.actions-container{
    float:right;
    margin: 0 10px;
}
.actions-container>[data-name="auto-clear"]{
    display:inline-block;
    font-size:8pt;
    vertical-align:bottom;
    margin: 0px 15px 0px 5px;
}
.actions-container>[data-name="auto-clear"]>input[type="checkbox"]{margin: 0px 5px 0px;}
.actions-container .test-result{
    height: 23px;
    border: 1px solid #bbbbbb;
    background-color: #f5f5f5;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    border-radius: 0;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}
.actions-container .test-result div{
    margin: 1px;
    border: solid 4px #ddd;
    float: left;
}


.name-wrapper{
    float:left;
    display:inline-block;
    margin-right:15px;
    height:24px;
}
.name-wrapper .btn-icon{
    margin-bottom:0px !important;
    height: 18px;
}
.name-container {
    display: inline-block;
    /*margin-bottom: 9px;*/
    line-height: 18px;
    padding: 4px 8px 0px;
}
.name-container span{
    color: #000;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    cursor:pointer;
}
.desc-container, .params-container{
    display:block;
    line-height: 18px;
    margin:0 3px 10px;
}
.info-container span[data-name="item-desc"]{color: #888;font-size: 10px; margin-bottom:5px;}


li.test-panel-container {
    float:left;
    width:150px;
    border: solid 4px #e1e1e1;/*#559fbf;*/
    border-radius: 8px;
    margin: 4px;
    list-style:none;
    -webkit-box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.45);
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.45);
    -moz-background-clip: padding; /* Firefox 3.6 */    
    -webkit-background-clip: padding-box; /* Safari 4? Chrome 6? */    
    background-clip: padding-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */
}
li.test-panel-container .select-container{
    display:inline-block;
    float:right;
    height:auto;
    width:auto;
    margin:2px;
}
li.test-panel-container .name-container{
    display: block;
    width:130px;
    margin-right:15px;
    background-color: #ddd;
    border-radius: 2px;
}
li.test-panel-container.active .name-container {
    background-color: #c8d8e0;/*#a5c9e5;*/
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
li.test-panel-container .select-container input[type="checkbox"]{margin-top:-10px;}
li.test-panel-container .info-container{
    display:block;
    margin:2px;
}
li.test-panel-container .info-container .name-wrapper{
    height:auto;
    margin:0px;
    width: 100%;
}
li.test-panel-container .params-container{
    display:block;
    height:auto;
}
li.test-panel-container .params-container input[type="text"]{margin-bottom:0px;}
li.test-panel-container .params-container select{width:100%;margin:0px;}
li.test-panel-container .actions-container{
    display:block;
    margin:0px;
    height:25px;
    width:100%;
}
li.test-panel-container .actions-container button{
    width:100%;
    height:100%;
    padding:0px !important;
    margin:0px;
}



/* page */
/*#config>.content-wrapper{
    display:block;
    margin:5px;
}*/
.test-content-list{
    display:block;
    margin:5px;
}
.cluster-serverinfo{
    background-color: #ccc;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.25), 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.25), 0 1px 2px rgba(0,0,0,.15);
    box-shadow: inset 0 2px 4px rgba(0,0,0,.25), 0 1px 2px rgba(0,0,0,.15);
    border-bottom: solid 1px #aaa;
}
.filter-labelinfo{
    background-color: #dfe8ea;
    border-bottom: solid 1px #ddd;
}
#config .test-item-container .info-container .name-wrapper{
    width: 86px;
}


/* tab border */
.tab-container{
    height: 0;
    border-bottom: solid 30px #acd;
    border-right: solid 10px transparent;
    border-left: solid 10px transparent;
    float:left;
    top: 7px;
    position: relative;
}
.tab-wrapper{
    height: 0;
    border-bottom: solid 28px #fff;
    border-right: solid 9px transparent;
    border-left: solid 9px transparent;
    margin-top: 2px;
    margin-left: 5px;
    margin-right: -7px;
}
.tab-info-line{
    padding:5px;
    margin-bottom:0px;
    border-bottom: solid 2px #acd;
}


/* instance test page */
.env-container{
    display:inline-block;
    float:left;
    width:33%;
    min-width:346px;
}
#instance .select-all-panel.ind{
    margin-left:10px;
}
#instance .select-all-panel{width:80px;}
#instance .select-partial-panel{margin-left: 90px;}
#instance .select-partial-panel ul li{width:155px;}
.list-container{
    margin:0px;
    padding:0px;
}
.list-container ul{
    margin:0px;
}
.list-container ul li{
    list-style:none;
    list-style-image:none;
    width:154px;
    float:left;
    border:solid 1px #aaa;
    border-radius:2px;
    margin: 0 2px;
}
.list-container ul li span{
    cursor:default;
}
.list-container ul li i{
    width:8px;
    height:8px;
    font-size:6px;
    color:#fff;
    margin: 0px 2px 2px 1px;
}
.list-container ul li.master i {
    background-color:red;
}

.env-container li.test-panel-container{
    width:320px;
    padding-bottom: 2px;
}
.env-container li.test-panel-container .name-container{
    width:250px;
    margin-right:0px;
}
.env-container li.test-panel-container .info-container{
    border-top: solid 1px transparent;
    margin:1px 2px 2px;
}
.env-container li.test-panel-container .actions-container,
.env-container li.test-panel-container .info-container .name-wrapper{
    width:auto;
}
.env-container li.test-panel-container .actions-container{
    height:23px;
}
.env-container li.test-panel-container .info-container .name-wrapper{
    float:none;
}
.env-container li.test-panel-container .actions-container button{
    width:48px;
}



.filter-header{
    border-bottom: solid 1px #aaa;height:25px;
}
.filter-header>div{background-color:#ccc;font-size:10px;font-weight:500;}
.filter-header>.rim{display:inline-block;width:10px;height:25px;}
.filter-title{display:inline-block;height:25px;width:320px; padding: 0px 15px;}
.filter-title span.label{
    margin:4px 0 0 0px;
}
.filter-content{
    display:block;
    margin-left:350px;
    margin-right:10px;
    margin-top:-25px;
}
.filter-content>ul, .list-container>ul{
    width: 100%;
    margin:0px;
    padding:0px;
}
.filter-content>ul>li{
    /*width:33.3%;*/
    height:25px;
    line-height:25px;
    vertical-align:middle;
    background-color: #ccc;
    list-style:none;
    margin:0px;
    float:left;
}
.filter-content>ul>li.active{
    background-color: #acd;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.25), 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.25), 0 1px 2px rgba(0,0,0,.15);
    box-shadow: inset 0 2px 4px rgba(0,0,0,.25), 0 1px 2px rgba(0,0,0,.15);
}
.filter-content>ul>li>div{border-left: solid 1px #aaa; padding:0px 15px;}

.filter-line{margin:0px 10px;}
.filter-line>ul{margin-left:-10px;}
.list-container>ul>li{
    /*width:33.3%;*/
    /*width:25%;*/
    min-height:25px;
    line-height:25px;
    vertical-align:middle;
    list-style:none;
    margin:0px;
    float:left;
    border:none;
}
/*.list-container>ul>li[data-env="NONE"]{width:100%;}*/
.filter-line .test-panel-container{width:100%;margin:0px 0px 5px;}
.filter-line .info-container{width:338px;}
.filter-line .list-container{margin-left:342px;}
.filter-line .list-container>ul>li .i-group{display:inline-block;margin:0px 4px;}
.filter-line .list-container>ul>li i{display:inline-block;width:9px;height:9px;margin:1px;opacity: 0.6;border:solid 1px;border-color:transparent;}
.filter-line .list-container>ul>li i{background-color:#0094ff;}
.filter-line .list-container>ul>li i.master{background-color:#FD4239;}
.filter-line .list-container>ul>li i.disable, 
.test-panel-container.disable .filter-line .list-container>ul>li i
{background-color:#d5d5d5;}

.test-panel-container.disable .info-container .name-container{color:#a5a5a5;}

.filter-line .list-container>ul>li>div{margin:1px;min-height: 25px;}
.filter-line .list-container>ul>li[data-env="NONE"]>div{background-color:rgba(0,0,0,.15);/*min-height: initial;*/}
.filter-line .list-container>ul>li[data-env="SHAFQ"]>div{background-color:rgba(60,141,188,.15);margin-left:0px;}
.filter-line .list-container>ul>li[data-env="SHAJQ"]>div{background-color:rgba(243,156,18,.15);}
.filter-line .list-container>ul>li[data-env="SHAOY"]>div{background-color:rgba(0,166,90,.15);}

.filter-line .list-container>ul>li.active>div {
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.25), 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.25), 0 1px 2px rgba(0,0,0,.15);
    box-shadow: inset 0 2px 4px rgba(0,0,0,.25), 0 1px 2px rgba(0,0,0,.15);
}
.filter-line .list-container>ul>li i.active,
.filter-line .list-container>ul>li.active i
{opacity: 1; border-color:rgba(0,0,0,.25)}

/* status */
.important-1{background-color:#dd4b39;}/*red, rgb(221,75,57)*/
.badge-SHAFQ{background-color:#3c8dbc;}/*blue, rgb(60,141,188)*/
.badge-SHAJQ, .important-2{background-color:#f39c12;}/*yellow, rgb(243,156,18)*/
.badge-SHAOY, .important-3{background-color:#00a65a;}/*green, rgb(0,166,90)*/

