<?xml version="1.0" encoding="gb2312"?>
<appSettings>
	<add key="AppID" value="100001863" />
  
  <add key="DbTracing-Enabled" value="true" />

  <add key="LoggingServer.V2.IP" value="collector.logging.fws.qa.nt.ctripcorp.com"/>
  <add key="LoggingServer.V2.Port" value="63100"/>
	<add key="SSOUrl" value="http://cas.uat.qa.nt.ctripcorp.com/caso" />
  <add key="FxConfigServiceUrl" value="http://ws.config.framework.fws.qa.nt.ctripcorp.com/configws/" />
  
  <add key="CtripDomain" value="fws.qa.nt.ctripcorp.com" />
  <add key="IncludeVersion" value="2016011801" />
</appSettings>
